<h2 style="font-family:Arial; text-align:center;">CRIAR FICHA DE CADASTRO</h2>
<form style="border-color:black; border-style:solid; border-width: 1px">

  <div class="form-group">
    <p></p>
  
    <label for="nome" style="font-family:arial" > </label>
    <input placeholder="Nome"type="text" class="form-control" name="nome" id="nome" required>
    <label for="sobrenome" style="font-family:arial"></label>
    <input placeholder="Sobrenome" type="text" class="form-control" name="sobrenome" id="sobrenome" required>
  
  </div>
<p></p>
  <div class="form-group">
    <label for="nascimento" style="font-family:arial"> </label>
    <input placeholder="Nascimento" type="date" class="form-control" name="nascimento" id="nascimento" required>
  </div>
<p></p>
  <div class="form-group">
    <label for="RG" style="font-family:arial"> </label>
    <input placeholder="RG 00.000-000" type="text" class="form-control" name="RG" id="RG" required>
  </div>
<p></p>
  <div class="form-group">
    <label for="CPF" style="font-family:arial"> </label>
    <input placeholder="CPF 000.000.000-00" type="text" class="form-control" name="CPF" id="CPF" required>
    <p></p>
  </div>
  <div class="form-group">
    <p></p>
    <label for="sexo" style="font-family:arial">Sexo </label>
    <p></p>
    <select placeholder="Sexo" class="form-control" name="sexo" id="sexo" required>
      <option value="1">Masculino</option>
      <option value="2">Feminino</option>
      <option value="3">Outros</option>
    </select>
  </div>
</form>
<br>
<br>
<form style="border-color:black; border-style:solid; border-width: 1px">
  <div class="form-group">
    <p></p>
    <label for="rua" style="font-family:arial"> </label>
    <input placeholder="Rua" type="text" class="form-control" name="rua" id="rua" required>
    <label for="numero" style="font-family:arial"> </label>
    <input placeholder="Número" type="text" class="form-control" name="numero" id="numero" required>
    <p></p>
  </div>
<p></p>
  <div class="form-group">
    <p></p>
    <label for="bairro" style="font-family:arial"> </label>
    <input placeholder="Bairro" type="text" class="form-control" name="bairro" id="bairro" required>
    <p></p>
  </div>
<p></p>
  <div class="form-group">
    <p></p>
    <label for="estado" style="font-family:arial">Estado </label>
    <p></p>
    <select placeholder="Estado" class="form-control" name="estado" id="estado" required>
      <option value="1">Acre</option>
      <option value="2">Alagoas</option>
      <option value="3">Amapá</option>
      <option value="4">Amazonas</option>
      <option value="5">Bahia</option>
      <option value="6">Ceará</option>
      <option value="7">Distrito Federal</option>
      <option value="8">Espírito Santo</option>
      <option value="9">Goiás</option>
      <option value="10">Maranhão</option>
      <option value="11">Mato Grosso</option>
      <option value="12">Mato Grosso do Sul</option>
      <option value="13">Minas Gerais</option>
      <option value="14">Pará</option>
      <option value="15">Paraíba</option>
      <option value="16">Paraná</option>
      <option value="17">Pernambuco</option>
      <option value="18">Piauí</option>
      <option value="19">Rio de Janeiro</option>
      <option value="20">Rio Grande do Norte</option>
      <option value="21">Rio Grande do Sul</option>
      <option value="22">Rondônia</option>
      <option value="23">Roraima</option>
      <option value="24">Santa Catarina</option>
      <option value="25">São Paulo</option>
      <option value="26">Sergipe</option>
      <option value="27">Tocantins</option>
    </select>  
    <p></p>
  </div>
<p></p>
  <div class="form-group">
    <p></p>
    <label for="cidade" style="font-family:arial"></label>
    <input placeholder="Cidade" type="text" class="form-control" name="cidade" id="cidade" required>
    <p></p>
  </div>
<p></p>
  <div class="form-group">
    <p></p>
    <label for="cep" style="font-family:arial"> </label>
    <input placeholder="CEP 00000-000" type="text" class="form-control" name="cep" id="cep" required>
    <p></p>
  </div>
</form>
<br>
<form style="border-color:black; border-style:solid; border-width: 1px">
  <div class="form-group">
    <p></p>
    <label for="email" style="font-family:arial" ></label>
    <input placeholder="Email" type="text" class="form-control" name="email" id="email" required>
  </div>
  <div>
    <p></p>
    <label for="imagem" style="font-family:arial" >Imagem de perfil</label>
    <p></p>
    <input placeholder="Imagem de perfil" type="file" class="form-control" name="imagem" id="imagem" required>
  </div>
  <div class="form-group">
    <p></p>
    <label for="login" style="font-family:arial" > </label>
    <input placeholder="Login de usuário" type="text" class="form-control" name="login" id="login" required>
  </div>
  <div class="form-group">
    <p></p>
    <label for="senha" style="font-family:arial" ></label>
    <input placeholder="Senha" type="text" class="form-control" name="senha" id="senha" required>
  </div>
  <div class="form-group">
    <p></p>
    <label for="senha" style="font-family:arial" ></label>
    <input placeholder="Confirme a senha" type="text" class="form-control" name="senha" id="senha" required>
    <p></p>
  </div>
</form>
<br>
<form>
  <div>
  <input class="botao" type="submit" value="Fazer a Consulta ">
  <input class="botao" type="reset" value="Limpar">
  </div>
</form>